---
import CaseStudyLayout from "../../layouts/CaseStudyLayout.astro";
import CaseStudyHero from "../../components/CaseStudyHero.astro";
import CaseStudyResults from "../../components/CaseStudyResults.astro";
import CaseStudyStack from "../../components/CaseStudyStack.astro";
import CaseStudyFlipbook from "../../components/CaseStudyFlipbook.astro";
import { caseStudy1 } from "../../data/caseStudy1";

const content = caseStudy1.en;
---

<CaseStudyLayout title={content.hero.title} description={content.hero.description}>
  <main>
    <CaseStudyHero {...content.hero} />
    <CaseStudyResults {...content.results} />
    <CaseStudyStack items={content.stack} />
    <CaseStudyFlipbook pdfUrl={content.pdfUrl} />
  </main>
</CaseStudyLayout>
